doctype html
html
	head
		meta(charset="utf-8")
		title Pwncheck Demo Application
	body
		h1 Pwncheck Demo Application
		p Please enter an e-mail address in the input field below.
		p Examples: #[em foo@bar.com, jarjar@binks.com, clean@example.com.]
		form#signup
			label(for="email") E-mail address 
			input#email(type="email" placeholder="E-mail address"
			  tabindex="1" autofocus)
			div#pwncheck

		script(src="https://code.jquery.com/jquery-2.1.3.min.js")
		script
			| jQuery(document).ready(function() {
			|   jQuery('#email').on('change', function() {
			|     var email = jQuery(this).val();
			|     if(email.length === 0) { return; }
			|     jQuery('#pwncheck').html('<em>Please wait&hellip;</em>');
			|     jQuery.get('/pwncheck/' + email)
			|       .done(function(data) {
			|         if(data.length === 0) {
			|           jQuery('#pwncheck').html('&#10004; All good!');
			|         } else {
			|           var list = data.reduce(function(acc, breach) {
			|             return acc += '<dt><strong>' + breach.Name + ', ' +
			|               breach.BreachDate + '</strong></dt>\n<dd><em>' +
			|               breach.Description + '</em></dd>\n';
			|           }, '');
			|           jQuery('#pwncheck').html('&#10006; Warning! ' +
			|             'This e-mail address has been compromised ' +
			|             ' at least ' + data.length + ' times!<br>' +
			|             '<h4>Breach details:</h4>\n' +
			|             ' <dl>' + list + '</dl>');
			|         }
			|       }).fail(function(err) {
			|         jQuery('#pwncheck').html('Error: ' + err.responseText);
			|       });
			|   });
			| });
